<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427490147332-8gbnlufmicgrf2q798beljljg2o05mjf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427490147332-8gbnlufmicgrf2q798beljljg2o05mjf</string>
	<key>API_KEY</key>
	<string>AIzaSyD5Er3wK5wGPUZtEpUJPmyVljR7rbkvElo</string>
	<key>GCM_SENDER_ID</key>
	<string>427490147332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appmaisters.eulogize</string>
	<key>PROJECT_ID</key>
	<string>eulogize-f7ac5</string>
	<key>STORAGE_BUCKET</key>
	<string>eulogize-f7ac5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427490147332:ios:35aeda4748d229733b8951</string>
</dict>
</plist>